<h1>Eat Me</h1>
    {{!-- put a burger image here --}} {{!-- burger input form --}}
    <h2>What burger are you in the mood for? </h2>
    <form class="create-form" id="addBurger">
        <div class="form-group">
            <label>Burger:</label>
            <input type="text" id= "newBurger" name="burger">
        </div>
        <button type="submit">Add Burger</button>
    </form>

    <h2>Burgers to be eaten...</h2>
    <ul>
        {{#each burgers}} {{#unless devoured}}
        <li>
            {{id}}. {{burger_name}}
            <button class="eat" data-id="{{id}}" data-devoured="{{devoured}}">
                EAT ME </button>
        </li>{{/unless}} {{/each}}

    </ul>

    <h2>You at all these already!</h2>
    <ul>
        {{#each burgers}} {{#if devoured}}
        <li>
           {{id}}. {{burger_name}}
        </li>
        {{/if}} {{/each}}
    </ul>